#idbody{
	text-align: left;
	font-weight: gras;
	font-weight: bold;
	margin-left: 50px;

	
}

.body{
	width:75%;
	height:75vh;
	border: solid ;
	background-color:  skyblue;
	margin-left: 50px;

	
}

#idaside{
	
	text-indent: 20px;
	font-weight: bold;
}

.aside{
	
	border: solid;
	width: 190px;
	height: 66vh;
	margin-right: 40px;
	margin-left: 20px;
	text-indent: 20px;
	
}
#idsection{
	text-indent: 250px;
	position: absolute;
	top: 60px;
	font-weight: bold;
}

.section{
	border: solid;
	width: 60%;
	height: 66vh;
	position: absolute;
	top: 110px;
	left: 300px;

}

#idheader{
	top: 30px;
	margin-left: 20px;
	font-weight: bold;
}
.header{
	border: solid;
	position: absolute;
	width: 95%;
	height: 10%;
	top: 40px;
	margin-left: 20px;
}

#idarticle1{
	position: absolute;
	top: 100px;
	margin-left: 40px;
	font-weight: bold;
}
.article1{
	border: solid;
	position: absolute;
	width: 290px;
	height: 50vh;
	margin-left: 20px;
	top: 140px;

}

#idarticle2{
	position: absolute;
	top: 100px;
	margin-left: 460px;
	font-weight: bold;
}

.article2{
	border: solid;
	position: absolute;
	width: 290px;
	height: 50vh;
	margin-left: 420px;
	top: 140px;

}

#idarticle3{
	position: absolute;
	top: 100px;
	margin-left: 810px;
	font-weight: bold;
}

.article3{
	border: solid;
	position: absolute;
	width: 290px;
	height: 50vh;
	margin-left: 780px;
	top: 140px;

}