#bgimage{
position: absolute;
	margin-left: 200px;
}


.lesTPs{
	position: absolute;
	top: 50px;
	margin-left: 400px;
}

button{
	border-color: skyblue;
	background-color: skyblue;
	
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 30px;
}
.monNom{
	position: absolute;
	top: -150px;
	font-weight: bold;
	margin-left: -300px;
	font-size: 30px;
	color: skyblue;

}


#bgimage1{

	position: absolute;
	top:0px;
	margin-left: 1060px;
}

.left{
	background-color: black;
	border: solid;
	left: 10px;
	top: 10px;
	width: 200px;
	height: 600px;
	position: absolute;
}
.left img {
	position: absolute;
	border-radius: 10%;
	top: 20px;
	height: 80px;
	width: 130px;
	margin-left: 20px;
}
.options{
	position: absolute;
	top :150px;
	color: white;
	margin-left: 10px;
}
.htmlcss{
	position: absolute;
	top: 450px;
	margin-left: 220px;
	font-weight: bold;
}