/* le CSS de l'etat 1 */
.header{
	background-color: #0F056B;
	height: 170px;
	width: 1800px;
	margin-right: 20px;
	margin-left: auto;
	text-align: center;


}
#id_ioc{
	font-weight: bold;
	text-align:center ;
	font-size: 50px;
	color: white ;

}
#phrase{
	color: white;
	position: absolute;
	top: 90px;
	margin-left: 33%;
}
#button{
	height: 5%;
	width: 5%;
	border: salmon;
	background-color: purple;
	top: 140px;
	position: absolute;
	font-size: 20px;
	color: white;
	border-radius:10%;
	margin-left: -3%;
}
.texte{
	top: 120px;
	margin-left: 25%;
}

/* le CSS de l'etat 2 */
.icon{
	background-color: rgba(39, 35, 35, 0.5);
	width: 60px;
  	height: 60px;
	align-items: center;
  font-size: 40px;
  color: aliceblue;
  margin-top: -70px;
  margin-left: 20px;
  border-radius: 5px;
 
 
 

}


  